# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

# other
*~
.settings
.vscode
.classpath
.project
gradle.properties
/data/
/logs/
/target/
/gradlefiles/
/dependency-reduced-pom.xml
